<!DOCTYPE html>
<html>
  <head>
    <title>Tldr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, message|%>
      <div class="flash-message flash-message-<%= name %>">
        <%= message %>
      </div>
    <% end %>

    <% if user_logged_in? %>
      <%= current_user.email%>
      <%= link_to 'Create Post', new_user_post_path(current_user) %>
      <%= link_to "Sign In", sign_out_path, method: :delete, class:"btn btn-default navbar-btn" %>
    <% else %>
      <%= link_to "Sign Out", sign_in_path ,  class:"btn btn-default navbar-btn"%>
    <% end %>

    <%= yield %>
  </body>
</html>
